.contact{
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
}
.contact-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    /* background-image: url("../CSS/contact-img.png"); */
}
.contact-container h1{
    margin: 20px 0px;
}
.contact-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin: 30px;
}
.contact-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.contact-img img{
    width: 100%;
    height: 100%;
}
.contact-container button {
    width: 580px;
    height: 72px;
    color: white;
    background: #b47d2a;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
@media(max-width:1280px){
    .contact{
        padding-top: 50PX;
    }
    .contact-container{
        width: auto;
        max-width: 500PX;
        max-height: 500px;
    }
    .contact-container h1{
        margin: 10px 0px;
    }
    .contact-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .contact-fields input{
        height: 65px;
        width: 93%;
    }
    .contact-container button{
        width: 100%;
    }
}
@media(max-width:800px){
    .contact-container{
        padding: 20px 30px;
    }
    .contact-container h1{
        font-size: 14px;
    }
    .contact-fields{
        margin-top: 20px;
    }
    .contact-fields input{
        height: 50px;
    }
    .contact-container button{
        height: 50px;
        font-size: 16px;
    }
}
